<!DOCTYPE HTML>
<html manifest="">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="csrf-token" content="{{ csrfToken }}">

    <title>Financial</title>

    {{#if localDevMode}}
        <link rel="stylesheet" href="/ext/build/classic/theme-{{ theme }}/resources/theme-{{ theme }}-all-debug.css">
        <link rel="stylesheet" href="/ext/build/packages/charts/classic/classic/resources/charts-all-debug.css">
    {{/if}}

    <script src="{{ scriptSrc }}"></script>
    <script>
        Financial.isMobile = false;
        Financial.debug = ('{{ debug }}' === 'true');
    </script>

    {{{ bootstrapScript }}}
</head>
<body></body>
</html>
